/*  overall document   */
body {
  font-size: 14px;
  font-family: 'Work Sans', sans-serif;
  background-color: rgb(255, 242, 242);
}

/* content container */
.container {
  margin-top: 5.25rem;
}

/* game intro text block */
h1 {
  font-weight: bold;
  font-size: 2.5rem;
  color: rgb(32, 64, 86);
}

h6 {
  font-size: 1rem;
  font-weight: bold;
}

p {
  color: rgb(74, 74, 74);
}

/* game cards */
.card {
  height: 12.5rem;
  background-color: rgb(32, 64, 86);
  border: 4px solid #ffffff;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card p {
  font-weight: 900;
  font-size: 7rem;
  color: rgb(255, 255, 255);
}

.card p:hover {/*as some browsers display text cursor*/
  cursor: pointer;
}
